* {
 padding: 0;
 margin: 0; 
}

.main-cnt {
  /* border: 1px solid black; */
  height: 10rem;
  width: auto;
  padding: 2rem;
}

.card-cnt {
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid red;
  min-width: 6rem;
  /* width: 15%; */
  height: 10rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card h2 {
  font-size: 4rem;
  color: deeppink;
}

.card p {
  font-size: 2rem;
  color: pink;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.button-cnt {
  display: flex;
  justify-content: space-around;
}

.button-cnt button {
  width: 3rem;
  height: 3rem;
  border: none;
  background: pink;
  color: deeppink;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
